<main>
  <section class="">
    <div class="container">
      <p class="work-title">Proyectos realizados</p>

      <div class="work-main">
        <a href="/about" alt="">
          <div class="work-grid-item">
            <div class="work-grid-item-title">The Gym Tool</div>
            <div class="work-grid-item-img">
              <img src="../../../assets/img//test1.jpg" alt="" />
            </div>
            <div class="work-grid-item-subtitle">
              App Web developed using MEAN Technologies
            </div>
          </div>
        </a>
      </div>
      <div class="work-grid">
        <a href="/about" alt="">
          <div class="work-grid-item">
            <div class="work-grid-item-title">The Gym Tool</div>
            <div class="work-grid-item-img">
              <img src="../../../assets/img//test2.jpg" alt="" />
            </div>            <div class="work-grid-item-subtitle">
              App Web developed using MEAN Technologies
            </div>
          </div>
        </a>
        <a href="/about" alt="">
          <div class="work-grid-item">
            <div class="work-grid-item-title">The Gym Tool</div>
            <div class="work-grid-item-img">
              <img src="../../../assets/img//test3.jpg" alt="" />
            </div>            <div class="work-grid-item-subtitle">
              App Web developed using MEAN Technologies
            </div>
          </div>
        </a>

        <a href="/about" alt="">
          <div class="work-grid-item">
            <div class="work-grid-item-title">The Gym Tool</div>
            <div class="work-grid-item-img">
              <img src="../../../assets/img//test2.jpg" alt="" />
            </div>            <div class="work-grid-item-subtitle">
              App Web developed using MEAN Technologies
            </div>
          </div>
        </a>
        <a href="/about" alt="">
          <div class="work-grid-item">
            <div class="work-grid-item-title">The Gym Tool</div>
            <div class="work-grid-item-img">
              <img src="../../../assets/img//test3.jpg" alt="" />
            </div>            <div class="work-grid-item-subtitle">
              App Web developed using MEAN Technologies
            </div>
          </div>
        </a>
      </div>

      <div class="work-static-info"></div>
    </div>
  </section>
</main>
