<footer class="footer-container">
  <div class="footer-logo">
    <!-- <a href="./index.html" class=""><img src="" alt="" />KARL DEVS</a> -->
  </div>

  <nav class="footer-menu-social">
    <ul>
      <li>
        <a href="https://linkedin.com/in/carlos-estepa-perez" target='_blank' title="linkedin">
          <img src="../../../assets/img/linkedin.png"
        /></a>
      </li>
      <li>
        <a href="https://twitter.com/KarlDeveloper" target='_blank' title="twitter">
          <img src="../../../assets/img//twitter.png"
        /></a>
      </li>
      <li>
        <a href="https://github.com/cestepap" target='_blank' title="github">
          <img src="../../../assets/img//github.svg"
        /></a>
      </li>
    </ul>
  </nav>
</footer>
