.body-home-container{
    padding: 50px 20px;
        width: 100%;
    text-align: center;
    /* background-image: url('../../../assets/img/back.jpg'); */
    /* opacity: 0.9; */
}

.title{
    margin: 10px 0;
}

.description{
    margin: 50px auto;
    width: 50%;
}