<div class="right-data">
  <div class="right-data-block">
    <div class="right-data-education">
      <hr />
      <h2>Información académica</h2>
      <hr />
      <div class="right-data-item">
        <div class="right-data-item__col1">
          <span>2019 – Today</span>
        </div>
        <div class="right-data-item__col2">
          <span class="right-data-item__col2 right-data-item__col2--bold"
            >Máster universitario de Desarrollo de Sitios y Aplicaciones
            Web</span
          >
          <span>Unversitat Oberta de Catalunya (UOC)</span>
        </div>
      </div>
      <div class="right-data-item">
        <div class="right-data-item__col1">
          <span>2005 – 2012</span>
        </div>
        <div class="right-data-item__col2">
          <span class="right-data-item__col2 right-data-item__col2--bold"
            >Enginyería Tècnica en Informàtica de Gestió</span
          >
          <span
            >Escola Universitària de informàtica (EUI, EUA). Sabadell,
            Barcelona</span
          >
        </div>
      </div>
      <div class="right-data-item">
        <div class="right-data-item__col1">
          <span>2002 – 2004</span>
        </div>
        <div class="right-data-item__col2">
          <span class="right-data-item__col2 right-data-item__col2--bold"
            >Desarrollo de aplicaciones informáticas</span
          >
          <span>IES Vallès. Sabadell, Barcelona</span>
        </div>
      </div>
      <div class="right-data-item">
        <div class="right-data-item__col1">
          <span>2000 – 2002</span>
        </div>
        <div class="right-data-item__col2">
          <span class="right-data-item__col2 right-data-item__col2--bold"
            >Batchillerato tecnológico</span
          >
          <span>Maristes-Rubí. Rubí, Barcelona</span>
        </div>
      </div>
    </div>
  </div>

  <div class="right-data-block">
    <div class="right-data-experience">
      <hr />
      <h2>Experiencia profesional</h2>
      <hr />
      <div class="right-data-item">
        <div class="right-data-item__col1">
          <span>2018 – Today</span>
        </div>
        <div class="right-data-item__col2">
          <span class="right-data-item__col2 right-data-item__col2--bold"
            >SECURITAS SEGURIDAD (Amazon)</span
          >
          <span>Responsable de turno – equipo</span>
          <ul>
            <li>Coordinación del equipo y gestión de incidencias</li>
            <li>Supervisión de cámaras, accesos y alarmas</li>
          </ul>
        </div>
      </div>
      <div class="right-data-item">
        <div class="right-data-item__col1">
          <span>2013 – 2016</span>
        </div>
        <div class="right-data-item__col2">
          <span class="right-data-item__col2 right-data-item__col2--bold"
            >PREMSA LOCAL (TOT Sant Cugat)</span
          >
          <span>Front end developer – Soporte técnico informático</span>
          <ul>
            <li>
              Desarrollo y mantenimiento de las webs del grupo empresarial
              (Wordpress, Comitium)
            </li>
            <li>
              Desarrollo de herramientas de gestión comercial de la intranet
            </li>
            <li>
              Soporte técnico de incidencias a usuarios. Configuración de
              sistemas y redes
            </li>
          </ul>
        </div>
      </div>
      <div class="right-data-item">
        <div class="right-data-item__col1">
          <span>2007 – 2013</span>
        </div>
        <div class="right-data-item__col2">
          <span class="right-data-item__col2 right-data-item__col2--bold"
            >RG PUBLICITAT & EDICIONS (Hewlett-Packard)</span
          >
          <span>Diseñador gráfico – Print Testing</span>
          <ul>
            <li>
              Maquetación, procesado e impresión digital en plataformas Onix
              Production House y Caldera
            </li>
            <li>
              Control de calidad, análisis de rendimiento y consumos. Impresión
              de gran formato.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="right-data-block">
    <div class="right-data-others">
      <hr />
      <h2>Otros datos de interés</h2>
      <hr />
      <div class="right-data-item">
        <div class="right-data-item__col1">
          <span></span>
        </div>
        <div class="right-data-item__col2">
          <ul>
            <li>Carné B1 y vehículo propio</li>
            <li>Disponibilidad horaria total</li>
            <li>Tarjeta de Identidad Profesional - TIP</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
